.infobox {
  background-color: rgba(255, 255, 0, 0);
  text-align: center;
  margin-top: 130px;
  margin-right: 70px;
}

.a {
  float: right;
  margin-right: 570px;
  margin-top: 10px;
  position: relative;
}
.b {
  float: right;
  margin-right: 20px;
}