
.infobox {
  background-color: rgba(255, 255, 0, 0);
  
  margin-top: 30px;
  margin-right: 70px;
  color:rgba(241, 146, 22, 0.829);
  padding: 10px;
  font-size: 20px;
  width: auto;
}

.a {
  float: right;
  margin-right: 570px;
  margin-top: 30px;
  position: absolute;
}
.b {
  float: right;
  margin-left: 20px;
}



