
<div class="infobox">


<h2>Biography</h2>


 I am Omega Tesfay. I am Application Development Student at Seattle central college through a program called Year Up. I am highly desire and motivated to be part of the current and upcoming technology. Currently, I am learning programming languages and web development concepts through the program. So far, my favorite computer programming languages are Python, Java, and JavaScript. I enjoy problem solving and designing a website. In my free time i like to travel and see different places. 
 <br>
</div>
<div class="A">
  <h3> Here are something that i like to do </h3>
</div>

 

