.picture {
    width: 250px;
  margin-left: 200px;
}
body
    {
    width: 100%;
    height: 100%;
    background-image:url(https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }

/* ========== DEMO STYLES ========== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* ===== Demo Styles ===== */
.infobox{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: #1b1b1b;
  width: 650px;
  height: auto;
  margin: 10% auto;
  padding: 10px;
  background-color: #a09f9e;
  border: 1px solid #f5f5f5;
  border-radius: 15px;

  text-align: center;
}
.A{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color:antiquewhite;
  text-align: center;
  background-color: black;
  width: 400px;
  margin-left: 400px;
}