<div class="R">
<p>
explain the importance of the various sections of an Angular 8 App<br><br>
@Component decorator identifies the class immediately below it as <br>
a component class, and specifies its metadata.<br><br>
selector: A CSS selector that tells Angular to create and insert an instance<br>
of this component wherever it finds the corresponding tag in template HTML.<br><br>
templateUrl: The module-relative address of this component's HTML template.<br>
Alternatively, you can provide the HTML template inline, as the value of the<br>
template property. This template defines the component's host view.<br><br>
providers: An array of providers for services that the component requires.<br>
this tells Angular how to provide the HeroService instance that the component's<br>
constructor uses to get the list of heroes to display.<br><br>
In Angular 8, Router is an NgModule which provides a service that facilitates<br>
developers to define a navigation path among the different application states<br>
and view hierarchies in their app.<br><br>
In angular 8 there are also various important components which are the<br> 
app.component.css, app.component.html, app.module.ts, and app.component.ts<br>
The app.component.css is important for our app and we put our css code into this<br>
particular component<br>
the app.component.html: is also incharge of our html code for the app.<br> the app.module.ts: @NgModule takes a metadata object that tells<br> Angular how to compile and launch the application. imports — the BrowserModule <br>that this and every application needs to run in a browser.
</p>
</div>